header {
    background-color: rgba(0, 0, 0, 0.20);
    padding: auto;
    display: flex;
}

.logo-header {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 100%;
    width: 100%;
    padding: 0 10px;
}

.nav-menu-logo {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: lighter;
    width: 100%;

}

.nav-menu .nav-menu-horizontal {
    display: flex;
    align-items: center;
}

.nav-menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    background-color: #0D3159;
    width: 160px;

    border: 1px solid white;
    justify-content: center;
    text-align: center;
    border-top: none;

}

.nav-menu-horizontal li:hover .nav-menu-vertical {
    display: block;
}

.nav-menu-horizontal-contact {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 50px 0;
    gap: 20px;
}

.nav-menu-horizontal-contact i {
    font-size: 50px;
}

.nav-menu-vertical div {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.nav-menu-vertical div li:hover {
    background-color: white;
}

.nav-menu-vertical div li:hover a {
    color: #0D3159;
}

.nav-menu-vertical div li {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50px;
    justify-content: center;
    margin-right: 0;
}

.nav-menu li {
    margin-right: 5px;
    font-weight: lighter;

}

.nav-menu h1 {
    font-size: 25px;
}

.nav-menu-btnRegi {
    background-color: #0D3159;
    border-radius: 10px 0 0 10px;
    font-style: normal;
    border: 1px solid;
    border-color: white;
    padding: 10px 30px;
    margin: 5px 0;
    font-size: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav-menu-btnIni {

    background-color: #0D3159;
    border-radius: 0 10px 10px 0;
    font-style: normal;
    border: 1px solid;
    border-color: black;
    padding: 10px 30px;
    margin: 5px 0;
    font-size: 100%;
    width: 145px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav-sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.profile>i {
    font-size: 30px;
    height: 100%;
}

.nav-profile {
    width: auto;
}

.bar-btn {
    display: block;
    font-size: 45px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#check:checked~.nav-menu-horizontal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: 3s;
    align-items: center;
}

#check:checked~.bar-btn {
    position: fixed;
    right: 10px;
}

.btn-area-login {
    justify-content: center;
}



@media (max-width: 1000px) {

    .nav-menu>.nav-menu-horizontal {
        display: none;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: #0D3159;
        gap: 50px;
        padding-top: 50px;
        font-size: 30px;
    }

    .bar-btn {
        display: block;
        z-index: 50;
    }

    .nav-menu-btnRegi,
    .nav-menu-btnIni {
        border-radius: 10px;
    }
}